# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# OS files
.DS_Store

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/
